<!-- <div class="collection row position-relative  m-0 p-0  col-12">
  <div *ngFor="let img of collections.saved" style="background-image: url('../../../assets/imgs/anne.jpg');" class="img col-6 h-50">
  </div>
  <div class=" text-center fs-3 " *ngIf="collections.saved.length ==0">Empty Collection</div>
  <div class="title position-absolute w-100 h-100 bottom-0 p-3 transition">
    <h4 class="position-absolute p-2 bottom-0 text-capitalize text-white">{{collections.collectionName}}</h4>
  </div>

</div> -->
<div class="defaultCollection row m-0 p-0">
  <div class="img w-50 h-50"></div>
  <div class="img w-50 h-50"></div>
  <div class="img w-50 h-50"></div>
  <div class="img w-50 h-50"></div>
  <div class="title">
    <h4>{{collections.collectionName}} </h4>
  </div>
</div>
