
.defaultCollection {
  width: 250px;
  height: 250px;
  border: 0.1px solid #ffffff21;
  background: #0b0b0b;
  cursor: pointer;
  border-radius: 10px !important;
  overflow: hidden;
  transition: 0.5s;
  .img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../../assets/imgs/aboobida.jpg');
  }
  &:hover {
    filter: blur(1px);
    .title {
      background-color: rgba(0, 0, 0, 0.486) !important;
      h4 {
        opacity: 1;
      }
    }
  }
  .title {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: end;
    transition: 0.5s;
    h4 {
      opacity: 0;
      transition: 0.5s;
    }
  }
}
