<div class="d-flex justify-content-center w-100 yourCollections">
  <div class=" col-12 col-md-6 col-lg-7 position-relative row m-0 rounded-2 scrollStyle "
    style="height: 80vh; background-color: #262626;">
    <!-- <div class="w-100 d-flex align-items-center justify-content-between position-fixed top-0 py-3">
      <i class="close bi bi-x-lg  m-2 cursorPointer" (click)="closeCollections()"></i>

      <button class="  btn btn-light m-0 " (click)="save()" [disabled]="!collectionSelected">Save</button>


    </div> -->
    <!-- <div *ngFor="let item of collections"
      class=" col-lg-4 col-md-8 col-12 align-items-center my-3 position-relative row m-0">

      <div class="select " (click)="select($event ,item)"></div>
      <app-display-collection [collections]='item'></app-display-collection>

    </div> -->

  </div>
</div>
