<section class="col-12 row p-4">
  <div class="col-12">
    <h4>Who can see your content</h4>
  </div>



  <div class="col-12 my-5">
    <p>
      Account privacy
    </p>

  </div>
  <div class="col-12 centerBetween">
    <h6>Private account</h6>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
    </div>
  </div>
  <div class="col-12 pt-5 pb-2 customBorderBot">
    <p class="fs-7 opacity-50">When your account is public, your profile and posts can be seen by anyone, on or off Instagram, even if they don’t have an Instagram account. <br> <br>
      When your account is private, only the followers you approve can see what you share, including your photos or videos on hashtag and location pages, and your followers and following lists. <span class="fw-bolder text-decoration-underline cursorPointer">Learn more</span>
    </p>
  </div>
  <div class="col-12 customBorderBot pt-3">
    <p class="fw-bolder my-3">Blocked accounts</p>
    <p class="text-primary mb-3">See and manage accounts you’ve blocked</p>
  </div>
  <div class="col-12  pt-3">
    <p class="fw-bolder my-3">Privacy and security help</p>
    <p class="text-primary mb-3">Support</p>
  </div>
</section>
