<footer class="pt-3 col-10 mx-auto">
  <div class="col-12 bg-danger">
  <p>
    <span>Meta</span>
    <span>About</span>
    <span>Blog</span>
    <span>Jobs</span>
    <span>Help</span>
    <span>API</span>
    <span>Privacy</span>
    <span>Terms</span>
    <span>Locations</span>
    <span>Instagram Lite</span>
    <span>Threads</span>
    <span>Contact Uploading & Non-Users</span>
    <span>Meta Verified</span>
    <span>English</span>
    <span>© 2023 Instagram from Meta</span>

  </p>
</div>
</footer>
