.parent {
  position: relative;
  height: 45vh;

  @media (min-width: 1000px) and (max-width: 1300px) { height: 30vh; }
  @media (min-width: 880px) and (max-width: 1000px) { height: 25vh; }
  @media (min-width: 768px) and (max-width: 880px) { height: 20vh; }
  @media (min-width: 500px) and (max-width: 768px) { height: 20vh; }
  @media (min-width: 300px) and (max-width: 500px) { height: 15vh; }

  &::before {
    content: '';
    display: block;
    padding-top: 100%; /* square aspect ratio */
  }

  .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: filter .35s ease, opacity .35s ease;

    opacity: .8;
    background-color: #e9e9e9;
  }

  .img.lazy-loaded {
    filter: none;
    opacity: 1;
  }

  .video-el {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: black;
  }
}

/* when the parent is a video (if you need a special class) */
.parent.video {
  &::before {
    padding-top: 0% !important;
  }
}

#display_Post {
  width: 100vw;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.553);
  z-index: 8 !important;
  top: 0;
  left: 0;
}
