<section class="col-12 row p-4" id="EditProfile">
  <div class="col-12">
    <h4>Apps and websites</h4>
  </div>
  <div class="col-12 row m-0 pt-4 taps">
    <div (click)="activeTap = 'Active'" [ngClass]="{'active': activeTap == 'Active'}"
      class=" col-4 centerCenter customBorderBot active cursorPointer">
      <p class="m-0 opacity-50">Active</p>
    </div>
    <div (click)="activeTap = 'Expired'" [ngClass]="{'active': activeTap == 'Expired'}"
      class=" col-4 centerCenter customBorderBot cursorPointer">
      <p class="m-0 opacity-50">Expired</p>
    </div>
    <div (click)="activeTap = 'Removed'" [ngClass]="{'active': activeTap == 'Removed'}"
      class=" col-4 centerCenter customBorderBot cursorPointer">
      <p class="m-0 opacity-50">Removed</p>
    </div>
  </div>
  <div class="col-12">
    <div *ngIf="activeTap == 'Active'" class="col-12">
      <h6 class="my-3">These are apps and websites you've connected to your Instagram account. They can access
        non-public information
        that you choose to share with them.</h6>
      <p class="fs-7 opacity-50">
        You have not authorized any applications to access your Instagram account.
      </p>
    </div>
    <div *ngIf="activeTap == 'Expired'" class="col-12">
      <h6 class="my-3">These are apps and websites you've connected to your Instagram account that you may not have used in the last 90 days. They're no longer able to access your non-public information, but may still have the information you shared while they were active. "Non-public" means information that an app can only access if you choose to share it when you log in with your Instagram account (like your email address).</h6>
      <p class="fs-7 opacity-50">
        You have no expired applications that had access to your Instagram account.
      </p>
    </div>
    <div *ngIf="activeTap == 'Removed'" class="col-12">
      <h6 class="my-3">These are apps and websites that are no longer connected to your Instagram account. They can't access your non-public information anymore, but may still have the information you shared while they were active. "Non-public" means information that an app can only access if you choose to share it when you log in with your Instagram account (like your email address). You can ask an app to delete your information. To do it, review their Privacy Policy for details and contact information. If you contact an app, they may need your User ID.</h6>
      <p class="fs-7 opacity-50">
        You have no removed applications that had access to your Instagram account.
      </p>
    </div>
  </div>
</section>
