<section class=" w-100 h-100 ">
  <div class="top">
    <i (click)="close()" class=" bi bi-x-lg"></i>
    <p>Comments</p>
  </div>
  <div class="comments scrollStyle">

    <div class="fs-3 mt-4 text-center text-capitalize" *ngIf="reel.comments.length == 0">
      no comments yet
    </div>

    <div class="userDetails d-flex align-items-start " *ngFor="let item of reel.comments">
      <app-comments [commentDetails]="item" [size]="35"></app-comments>

    </div>
  </div>
  <div class="bot">
    <div class="userImage"><app-user-image [story]="false" [size]="32" [data]="{profilePic:userData.profilePic}"></app-user-image>
    </div>
    <input type="text" placeholder="Add a comment..." [(ngModel)]="comment">
    <p style="padding-top: 10px;" *ngIf="comment" (click)="addReelComment()"
      class=" position-absolute end-0 fs-7 pe-4 text-primary cursorPointer">Post</p>
  </div>
</section>
