#reels {


  .reel {
    height: 80vh;

    margin: 10vh 0;


    .videos {
      display: flex;
      align-items: center;
      justify-content: center;

      video {
        height: 100%;
        vertical-align: middle;
        width: 100%;
        cursor: pointer;
      }
    }

    .btns {
      .img {
        width: 25px;
        height: 25px;
        border-radius: 3px;

        img {
          vertical-align: middle;
          width: 100%;
        }
      }

      div {
        margin: 10px 0;
        cursor: pointer;
      }
    }
  }
}
