<section id="reels" class="col-12 row m-0 centerCenter flex-column">
  <div class="reel col-11 col-md-8 col-lg-8 row mx-2" *ngFor="let item of [1,2,3,4,5,6,7,8]">

    <div class="videos h-100 col-11 col-md-10  p-0">
      <video controls>
        <source src="./assets/imgs/WhatsApp Video 2023-10-24 at 21.21.05_182fd982.mp4" type="video/mp4">
      </video>
    </div>
    <div class=" col-1 btns p-0 d-flex flex-column align-items-center justify-content-end pb-3">
      <div class=" d-flex flex-column align-items-center">
        <i class=" fs-5 bi bi-heart"></i>
        <p class="fs-7">456</p>
      </div>
      <div class=" d-flex flex-column align-items-center">
        <i class=" fs-5 bi bi-chat"></i>
        <p class="fs-7">35</p>
      </div>
      <div>
        <i class=" fs-5 bi bi-send"></i>
      </div>
      <div>
        <i class=" fs-5 bi bi-save"></i>
      </div>
      <div>
        <app-dropdown-btn></app-dropdown-btn>
      </div>
      <div class="img m-0">
        <img src="./assets/imgs/anne.jpg" alt="">
      </div>
    </div>
  </div>
</section>
