#custom-google-button {
  background-color: #4285F4; /* Google Blue */
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

#custom-google-button:hover {
  background-color: #357ae8; /* Darker Google Blue */
}
