#setting {
  .leftTop {
    h6 {
      font-size: 13px;
    }

  }

  .leftBot {
    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        width: 100%;
        padding: 8px 1rem;
        height: 100%;
        cursor: pointer;
        transition: 0.3s;
        height: 100%;
        position: relative;
        transition: 0.3s;
        margin: 5px 0;
        font-size: 14px;

        &:before {
          content: '';
          height: 0%;
          width: 2px;
          background-color: rgb(255, 255, 255);
          position: absolute;
          top: 0;
          left: 0;
          transition: 0.3s;

        }



        &:hover {
          background-color: rgba(114, 114, 114, 0.272);
        }
      }

      .active {
        background-color: rgba(114, 114, 114, 0.272);

        &:before {
          content: '';
          height: 100% !important;
          width: 2px;
          background-color: rgb(255, 255, 255);
          position: absolute;
          top: 0;
          left: 0;
          transition: 0.3s;

        }
      }
    }
  }
}
