<div class="dropdown-center ">
  <button class="nav-link d-flex align-items-center position-relative" id="Create-tab" type="button"
    data-bs-toggle="dropdown" aria-expanded="false" role="tab" aria-controls="Create-tab-pane"
    aria-selected="true"><i class="bi bi-three-dots"></i></button>
  <ul class="dropdown-menu rounded-3 mx-3 p-3 position-absolute">
    <li><a class=" list-unstyled text-decoration-none text-center text-white ps-2" href="#">Report</a></li>
    <li><a class=" list-unstyled text-decoration-none text-center text-white ps-2" href="#">Unfollow</a></li>
    <li><a class=" list-unstyled text-decoration-none text-center text-white ps-2" href="#">Add to
        favorites</a></li>
    <li><a class=" list-unstyled text-decoration-none text-center text-white ps-2" href="#">Go to post</a>
    </li>
    <li><a class=" list-unstyled text-decoration-none text-center text-white ps-2" href="#">Share to...</a>
    </li>
    <li><a class=" list-unstyled text-decoration-none text-center text-white ps-2" href="#">Copy link</a></li>
    <li><a class=" list-unstyled text-decoration-none text-center text-white ps-2" href="#">Embed</a></li>
    <li><a class=" list-unstyled text-decoration-none text-center text-white ps-2" href="#">About this
        account</a></li>
    <li><a class=" list-unstyled text-decoration-none text-center text-white ps-2" href="#">cancel</a></li>
  </ul>
</div>
