:host {
  #myTab {
    li{
      transition: 0.5s;
      margin: 5px 0;
      .profileImg {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin-right: 10px;
        background-position: center;
        background-size: cover;
      }
      &:hover{
        background-color: #262626;
        border-radius: 10px;
      }
      i{
        .numberOfNotifications{
          position: absolute;
    top: -3px;
    font-size: 11px;
    left: -3px;
    background-color: red;
    padding: 0 5px;
    border-radius: 50%;
        }
      }
    }
    @media screen and (max-width : 950px) {
      width: 75px;

      #myTab {

        .logo {
          display: flex !important;
          align-items: center;
          justify-content: center;
          margin-right: 10px;

          i {
            display: block !important;
          }
        }
      }
    }

    @media screen and (max-width : 767px) {
      display: none !important;
    }

    border: 0;
    border-right: #ffffff50 0.5px solid !important;

    .logo {
      i {
        display: none;
      }
    }

    .close {
      left: -700% !important;
    }

    .open {
      left: 40px !important;
    }

    #Notification,
    #message,
    #search {
      top: -1px !important;
      position: absolute;
      height: 100vh;
      width: 450px;
      z-index: 1 !important;
      background-color: rgb(0, 0, 0) !important;
    }

    #message {
      width: 370px !important;

    }


    .dropdown-center {
      transition: .7s;

      &:hover {
        background-color: rgba(255, 255, 255, 0.116);
        border-radius: 10px;
      }

      .dropdown-menu {
        background-color: #262626;
        padding: 0 10px;
        width: 250px;

        li {
          padding: 10px 0;
          transition: .7s;

          &:hover {
            background-color: rgba(255, 255, 255, 0.116);
            border-radius: 10px;
            cursor: pointer;
          }
        }
      }
    }

    >div,
    .nav-item {
      margin: 5px 0;
      transition: .7s;
      display: flex;

      &:hover {
        background-color: rgba(255, 255, 255, 0.116);
        border-radius: 10px;
      }

      i {
      }

      @media screen and (max-width : 950px) {
        p {
          display: none !important;
        }



        i {
          display: block;
          font-size: 20px;
        }
      }
    }

    .nav-link {
      color: rgb(255, 255, 255);
      background-color: transparent;
      border: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      .par {
        @media screen and (max-width : 950px) {
          display: none !important;
        }
      }

      &:hover {
        border: 0;
      }

      i {
        color: #ffffff;
        margin-right: 10px;
        font-size: 23px;
      }



    }

    .nav-link.active {
      color: rgb(255, 255, 255);
      background-color: transparent;
      border: 0;
    }
  }


  #myTab2 {
    z-index: 2;
    width: 100%;
    background-color: rgb(0, 0, 0) !important;
    height: 50px !important;
    border: 0;
    border-right: #ffffff50 0.5px solid !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    bottom: -4px !important;

    li {
      width: 55px;
    }

    .nav-link {
      color: rgb(255, 255, 255);
      background-color: transparent;
      border: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      .par {
        display: none;
      }

      i {
        color: #ffffff;
        margin-right: 10px;
        font-size: 23px;
      }

      .profileImg {
        width: 25px;
        height: 25px;
        background-image: url(../../../assets/imgs/team-3.jpg);
        border-radius: 50%;
        margin-right: 10px;
        background-position: center;
        background-size: contain;
      }
    }

    .nav-link.active {
      color: rgb(255, 255, 255);
      background-color: transparent;
      border: 0;
    }
  }

  #display-explore {
    width: 100vw;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.553);
    z-index: 8 !important;

  }


  #myTab2,
  .topNav {
    background: black;
    z-index: 55;
    @media screen and (min-width : 767px) {
      display: none !important;
    }
  }
}

.sideSMN {
  width: 500px;
  height: 100%;
  background-color: aqua;
}

.close {
  left: -200% !important;
  top: 0;

}

.open {
  top: 0;
  left: 0;
}

#Notification,
#message,
#search {
  top: 0 !important;
  height: 100vh;
  width: 450px !important;
  position: fixed;
  left: 40px;
  background-color: rgb(0, 0, 0) !important;
  z-index: 5 !important;
}
#Notification2,
#message2,
#search2 {
margin-top: 15px;
  z-index: 5 !important;
}
