.userImage{

  background-color: #fff;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
  }
.userData {
  .userName {
    font-size: 15px;
  }

  .name {
    font-size: 15px;
    opacity: .5;
  }
}
