<section class="col-12 row p-4">
  <div class="col-12">
    <h4>How others can interact with you</h4>
  </div>

  <div class="col-12 pt-3 customBorderBot">
    <p class="fw-bolder my-3">Messages</p>
    <p class="text-primary mb-3">Manage message settings</p>
  </div>

  <div class="col-12 pt-4 customBorderBot">
    <h6>Activity Status</h6>
    <div class="col-12 my-3 centerBetween">

      <h6>Show activity status</h6>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
      </div>
    </div>
    <div class="col-12 py-2 ">
      <p class="fs-7 opacity-50">Allow accounts you follow and anyone you message to see when you were last active or
        are currently active on Instagram. When this is turned off, you won't be able to see the activity status of
        other accounts. <span class="fw-bolder text-decoration-underline cursorPointer">Learn more</span> <br><br>
        You can continue to use our services if active status is off.
      </p>
    </div>
  </div>
  <div class="col-12 py-3 customBorderBot">
    <p class="fw-bolder my-3">Story</p>
    <p class="text-primary mb-3">Edit story settings</p>
  </div>
  <div class="col-12 py-3 customBorderBot">
    <p class="fw-bolder my-3">Comments</p>
    <p class="text-primary mb-3">Manage comment settings</p>
  </div>
  <div class="col-12 py-3 customBorderBot">
    <p class=" my-3">Mentions</p>
    <p class="fw-bolder my-3">Allow <i class="bi bi-at"></i>mentions from</p>
    <div class="col-12">
      <div class="customCheckbox me-3 centerStart">
        <input class="customCheckbox " id="Everyone" class="d-none" type="checkbox">
        <label for="Everyone" class="me-2"><span></span></label>
        <p>Everyone</p>
      </div>
      <div class="customCheckbox me-3 my-3 centerStart">
        <input class="customCheckbox " id="People" class="d-none" type="checkbox">
        <label for="People" class="me-2"><span></span></label>
        <p>People You Follow</p>
      </div>
      <div class="customCheckbox me-3 centerStart">
        <input class="customCheckbox " id="NoOne" class="d-none" type="checkbox">
        <label for="NoOne" class="me-2"><span></span></label>
        <p>No One</p>
      </div>
    </div>
    <p class="fs-7 opacity-50 my-3 mt-5">
      Choose who can <i class="bi bi-at"></i>mention you to link your account in their stories, comments, live videos,
      and captions. When people try to <i class="bi bi-at"></i>mention you, they'll see if you don't allow <i
        class="bi bi-at"></i>mentions.
    </p>
  </div>
  <div class="col-12 py-3 customBorderBot">
    <p class="fw-bolder my-3">Restricted accounts</p>
    <p class="text-primary mb-3">See and manage accounts you’ve restricted</p>
  </div>






  <div class="col-12 pt-4 customBorderBot">
    <h6>Guides</h6>
    <div class="col-12 my-3 centerBetween">

      <h6>Allow post sharing to guides</h6>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
      </div>
    </div>
    <div class="col-12 py-2 ">
      <p class="fs-7 opacity-50">When this is on, other people can add your posts to their guides. Your username will
        always show up with your posts.
      </p>
    </div>
  </div>




  <div class="col-12 py-3 customBorderBot">
    <p class="fw-bolder my-3">Who can tag you</p>
    <div class="col-12">
      <div class="customCheckbox me-3 centerStart">
        <input class="customCheckbox " id="Everyone2" class="d-none" type="checkbox">
        <label for="Everyone2" class="me-2"><span></span></label>
        <p>Everyone</p>
      </div>
      <div class="customCheckbox me-3 my-3 centerStart">
        <input class="customCheckbox " id="People2" class="d-none" type="checkbox">
        <label for="People2" class="me-2"><span></span></label>
        <p>People You Follow</p>
      </div>
      <div class="customCheckbox me-3 centerStart">
        <input class="customCheckbox " id="NoOne2" class="d-none" type="checkbox">
        <label for="NoOne2" class="me-2"><span></span></label>
        <p>No One</p>
      </div>
    </div>

  </div>




  <div class="col-12 py-3 customBorderBot">
    <p class="fw-bolder my-3">Manually approve tags</p>
    <div class="col-12">
      <div class="customCheckbox me-3 centerStart">
        <input class="customCheckbox " id="Automatically" class="d-none" type="checkbox">
        <label for="Automatically" class="me-2"><span></span></label>
        <p>Automatically show tagged posts on your profile</p>
      </div>
      <div class="customCheckbox me-3 my-3 centerStart">
        <input class="customCheckbox " id="Manually" class="d-none" type="checkbox">
        <label for="Manually" class="me-2"><span></span></label>
        <p>Manually approve posts when you’re tagged in them</p>
      </div>

    </div>
    <p class="fs-7 opacity-50 my-3 mt-5">
      Choose how you want photos of you added to your profile. <span class="text-primary opacity-100">Learn more</span>
    </p>
  </div>

  <div class="col-12 py-4 customBorderBot">
    <div class="col-12">
      <p>Offensive words and phrases</p>
      <p class="fs-7 opacity-75">Protect yourself from comments and message requests that contain offensive words,
        phrases or emojis.
      </p>
    </div>
    <div class="col-12">

      <div class="col-12 my-3 centerBetween">

        <h6>Hide comments</h6>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
        </div>
      </div>
      <p class="fs-7 opacity-75">Comments that may be offensive will automatically be hidden in a separate section of
        your posts, reels and videos.</p>
    </div>
    <div class="col-12">

      <div class="col-12 my-3 centerBetween">

        <h6>Advanced comment filtering</h6>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
        </div>
      </div>
      <p class="fs-7 opacity-75">Additional comments that may contain offensive words and phrases will be hidden. You
        can always review and unhide individual comments.</p>
    </div>
    <div class="col-12">

      <div class="col-12 my-3 centerBetween">

        <h6>Hide message requests</h6>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
        </div>
      </div>
      <p class="fs-7 opacity-75">Message requests that may be offensive will be moved to the hidden requests folder.
        We’ll also filter notifications for these messages.</p>
    </div>
  </div>
  <div class="col-12 pt-3 ">
    <p class="fw-bolder my-3">Privacy and security help</p>
    <p class="text-primary mb-3">Support</p>
  </div>

</section>
